*::-webkit-scrollbar{
    appearance: none;
    width: 6px;
}
*::-webkit-scrollbar-thumb{
    appearance: none;
    background-color: rgb(50, 143, 255);
    border-radius: 4px;
}

.page-content{
    margin-top: 80px;
    padding-top: 20px;
    background: #F2F2F2;
    min-height: calc( 100vh - 80px );
}

.ant-spin.ant-spin-spinning.css-dev-only-do-not-override-1pg9a38 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 10;
    opacity: 1;
    transition: all ease-in-out .2s;
}